.table-wrapper {
  width: 100%;
  margin-bottom: 7%;
}
.table {
  display: block;
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100em;
  max-width: 80%;
  margin: auto;
  table-layout: auto;
  overflow-x: auto;
}
.table thead {
  background-color: #ccc;
  color: #222;
}
.table th,
.table td {
  padding: 0.8rem;
}
.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  /* for horizontal lines in the table */
  text-overflow: ellipsis;
}
.table tbody tr:hover {
  background-color: #eee;
}
/* will expand the product description details */
.expand {
  width: 100%;
}
.label {
  border-radius: 7px;
  padding: 0.3rem;
  color: white;
}
.label-loading {
  background-color: #777;
}
.label-done {
  background-color: #42a942;
}
.label-incomplete {
  background-color: #d9534f;
}
.actions {
  display: flex;
  justify-content: space-around;
}
.actions svg {
  cursor: pointer;
}
.delete_btn {
  color: #e10d05;
  background-color: #fff;
  padding: 0;
}
.delete_btn:hover {
  background-color: #ccc;
}
@media screen and (min-width: 2150px) {
  .table {
    width: 150em;
    max-width: 120%;
  }
}
