.towel-list-container {
  max-height: 650px;
  overflow: hidden;
  overflow-y: auto;

  margin: 70px;
  /*box-shadow: 0px 10px 10px #ccc;*/
  box-shadow: 0px 10px 10px #a7a6a6;
  border-radius: 20px;
  background: linear-gradient(45deg, #ccc, #fff, #ccc);
}
.towel-list-container::-webkit-scrollbar {
  display: none;
}

.towel-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  margin: 5%;
}
