.towel-card {
  height: 205px;
  cursor: pointer;
}
.towel-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.towel_card_container {
  color: #fff;
  width: 200px;
  padding-top: 25px;
  text-align: left;
  padding-left: 30px;
}

.towel-card {
  position: relative;
}

.compare-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.compare-text:hover {
  background-color: rgb(63, 61, 61);
}
