/* .card { */
/* border: 1px solid #ccc;
  padding: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 300px;
  display: inline-block;
  background-color: #fff; */

/* Alternate */
/* text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
  width: 225.6px;
  height: 282px; */
/* } */
/* .card img { */
/* width: 100%;
  border-radius: 10px; */
/* margin-bottom: 10px;
  height: 200px;
  overflow: hidden;
  border-radius: 7px; */
/* } */
/* .card h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
} */
.card {
  text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
  width: 225.6px;
  height: 282px;
  margin-top: 40px;
}
.card img {
  height: 175px;
  overflow: hidden;
  border-radius: 7px;
}
.card h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.card-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.card-buttons button:hover {
  background-color: #f0f0f0;
}
.card-buttons button.delete-button {
  background-color: #ff6b6b;
  color: white;
}
.card-buttons button.edit-button {
  background-color: #6b7cff;
  color: white;
}
.add-card {
  margin-top: 15px;
}
.edit-text {
  padding-right: 60px;
}
@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .nav-links:rover {
    background: #01959a;
    transition: none;
  }
  .add-card {
    display: inline;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background: #01959a;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .menu-icons {
    display: block;
    cursor: pointer;
  }
  .menu-icons i {
    font-size: 1.2rem;
    color: #222;
  }
}
