/* .product {
  margin: 4rem 6rem;
  color: #2a2a2a;
}
.product h1 {
  font-size: 3rem;
}
.tripcard2 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.t-card2 {
  text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
  width: 185.6px;
  height: 192px;
}
.t-image2 {
  height: 125px;
  overflow: hidden;
  border-radius: 7px;
}
.t-image2 img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}
.t-image2:hover img {
  transform: scale(1.3);
}
.t-card h4 {
  font-size: 1.3rem;
  padding: 0.9rem 0 0.2rem 0;
}
@media screen and (max-width: 850px) {
  .product {
    margin: 4rem 2rem;
  }
  .tripcard2 {
    flex-direction: column;
  }
  .t-card2 {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
.card1 {
  text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
  width: 185.6px;
  height: 192px;
  margin-top: 30px;
}
.img1 {
  height: 100px;
  width: 150px;
  overflow: hidden;
  border-radius: 7px;
}
.card1 h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card-buttons1 {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.card-buttons1 button {
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.card-buttons1 button:hover {
  background-color: #f0f0f0;
}
.card-buttons1 button.delete-button {
  background-color: #ff6b6b;
  color: white;
}
.card-buttons1 button.edit-button {
  background-color: #6b7cff;
  color: white;
}
.add-card {
  margin-top: 15px;
}
.edit-text {
  padding-right: 60px;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .nav-links:rover {
    background: #01959a;
    transition: none;
  }
  .add-card {
    display: inline;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background: #01959a;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .menu-icons {
    display: block;
    cursor: pointer;
  }
  .menu-icons i {
    font-size: 1.2rem;
    color: #222;
  }
} */

/* Alternate */
/* .product {
  margin: 4rem 6rem;
  color: #2a2a2a;
}
.product h1 {
  font-size: 3rem;
}
.tripcard2 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.t-card2 {
  width: 32%;
  text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
}
.t-image2 {
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
}
.t-image2 img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}
.t-image2:hover img {
  transform: scale(1.3);
}
.t-card2 h4 {
  font-size: 1.3rem;
  padding: 0.9rem 0 0.2rem 0;
}
@media screen and (max-width: 850px) {
  .product {
    margin: 4rem 2rem;
  }
  .tripcard2 {
    flex-direction: column;
  }
  .t-card2 {
    width: 100%;
    margin-bottom: 1.5rem;
  }
} */

/* ALternate */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* * {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #00bcd4, #ffeb3b);
} */
.product {
  margin: 4rem 6rem;
  color: #2a2a2a;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.product h1 {
  font-size: 3rem;
}
.tripcard2 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 50px 50px;
}
.card-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.card-container .card:hover {
  /* height: 400px; */
  transform: scale(1);
}
.card-container .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  transition: 0.3s;
  overflow: hidden;
}
.card-container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.card-container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}
.card-container .card:hover .content {
  height: 250px;
  top: 130px;
}
.card-container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-container .card .content p {
  color: #333;
}
.card-container .card .content a {
  position: relative;
  top: 15px;
  padding: 12px 25px;
  display: inline-block;
  background: #ff3e7f;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}
.add-link {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
  color: #151516;
}
.add-link:hover {
  background-color: #151516;
  color: #fff;
}
@media screen and (max-width: 950px) {
  .product {
    margin: 4rem 2rem;
  }
  .tripcard2 {
    flex-direction: column;
  }
}
