.slideC_pop {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 100%;
  /* height: 280px; */
  margin: 35px auto;
}
.caroussel-content {
  margin-left: -10px;
  margin-right: -10px;
  height: 300px;
}

.slide {
  width: 362px;
  height: 400px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
}

.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -184px;
  border-radius: 12px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent_pop {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 30px;
  align-items: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  height: 200px;
}
.caroussel > button {
  height: 13%;
}

.sliderContent h2 {
  margin: 16px 0;
}
.sliderContent p {
  margin: 0;
  margin-bottom: 16px;
}
[class*="col-"] {
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}
/* @media screen and (max-width: 850px) {
      .box {
        margin: 2rem 2rem;
        margin-left: 16%;
      }
    } */
