.button-class .button1,
.button-class .button2 {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.9rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
  text-decoration: none;
  color: black;
  background: #80808038;
}

.content h3 {
  border-radius: 15px;
  /* background: #65646430; */
  /* background: linear-gradient(45deg, #65646430, #fff, #65646430); */
  background: linear-gradient(45deg, lightblue, #fff, lightblue);
  margin: 20px;
  padding: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: left;
}
.content h3:hover {
  background: linear-gradient(45deg, #1b81cf, lightblue, #1b81cf);
  color: #fff;
}
.button1 {
  margin-right: 2%;
}
.button1:hover {
  background-color: #6b7cff;
  color: #fff;
}
.button2:hover {
  background-color: #ff6b6b;
  color: #fff;
}
button:hover {
  background-color: #151516;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  border: 2.5px solid black;
  /* border-radius: 10px; */
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  height: auto;
  z-index: 9999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 12% auto;
  padding: 20px;
  /* background: linear-gradient(45deg, #1b81cf, lightblue); */
  /* background: #fff; */
  background: linear-gradient(45deg, #f8f8f8, #fff);
  /* background: #f8f8f8; */
  border-radius: 30px;
  width: 60%;
  position: relative;
  z-index: 9999;
  transition: all 5s ease-in-out;
  /* background: wheat; */
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  border-radius: 15px;
  /* background: #65646430; */
  background: linear-gradient(45deg, lightblue, #fff);
  padding: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
}
.popup h2:hover {
  background: linear-gradient(45deg, #1b81cf, lightblue, #1b81cf);
  color: #fff;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #1b81cf;
}
.popup .content {
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
}
.popup .content::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 850px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
  .content h3 {
    word-wrap: break-word;
    white-space: normal;
  }
}
