.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 362px;
  height: 280px;
  margin: 35px auto;
}

.slide {
  width: 362px;
  height: 400px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
}

/* 3D reflection effect */
.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -184px;
  border-radius: 12px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 30px;
  align-items: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.sliderContent h2 {
  margin: 16px 0;
}
.sliderContent p {
  margin: 0;
  margin-bottom: 16px;
}

.explore-link {
  margin-left: 46%;
  margin-top: 13%;
  position: relative;
}

.explore-link a {
  text-decoration: none;
}

.a-explore-link {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.a-explore-link::after,
.a-explore-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.a-explore-link::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  /* background: #0f0d0de3; */
  background: #01959a;
  /* background: linear-gradient(45deg, lightblue, #fff, lightblue); */

  border-radius: 10px;
}

.a-explore-link::after {
  transform: translate(10px, 10px);
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #00bcd4, lightblue, #00bcd4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

/* .a-explore-link:hover::before {
  transform: translate(5%, 20%);
  width: 112%;
  height: 150%;
} */

.a-explore-link:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.a-explore-link:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/* normal css  */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}
@media screen and (max-width: 850px) {
  .box {
    margin: 2rem 2rem;
    margin-left: 16%;
  }
}
@media screen and (max-width: 1290px) {
  .explore-link {
    margin-left: 45%;
    margin-top: 18%;
    position: relative;
  }
}
/* normal css  */
