.from-container {
  margin: 4rem 6rem;
  color: #2a2a2a;
}
.from-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.from-container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}

.from-container textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}
.from-container button {
  display: inline;
}
.from-container {
  margin: 4rem 6rem;
  color: #2a2a2a;
}
.from-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.from-container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}

.from-container textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}
.from-container button {
  display: inline;
}
.tick-box input {
  height: 14px;
  display: flex;
  margin-right: 10px;
}
.tick-box label {
  display: flex;
}

.inputDataText {
  padding: 13px;
  border-width: 1px;
  border-radius: 9px;
  border-style: solid;
  border-color: #d9d9d9;
  width: 100%;
  box-sizing: border-box;
}
.inputwrapper {
  position: relative;
}
.inputwrapper::after {
  content: attr(data-required);
  position: absolute;
  right: 8px;
  top: 30%;
  font-size: 15px;
  transform: translateY(-50%);
  /* color: #9d9d9d; */
  color: lightskyblue;
  text-shadow: 10px 10px 20px lightskyblue;
  /* color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #1b81cf, 0 0 5px lightskyblue; */
}
.box-1 {
  display: flex;
  margin-bottom: 10px;
}
.label-value {
  margin-left: 5.45%;
}
.select-value {
  margin-left: 5px;
  height: 27px;
  width: 47px;
}
.label-value1 {
  margin-left: 10.45%;
}
.label-value2 {
  margin-left: 13%;
}
@media screen and (max-width: 850px) {
  .from-container {
    margin: 4rem 2rem;
  }
  .from-container form {
    padding-top: 2rem;
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .from-container {
    margin: 4rem 2rem;
  }
  .from-container form {
    padding-top: 2rem;
    width: 90%;
  }
}
