.qr_code {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
  margin-right: 100px;
  color: black;
  background-color: #eaeaea;
}
.qr_code:hover {
  background-color: #151516;
  color: #fff;
}
.generate_qrcode:hover {
  background-color: #151516;
  color: #fff;
}
