.searchInputs {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  /* width: 50px; */
  height: 50px;
  /* background: #00000036; */
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  width: 250px;
}

.search {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  /* display: none; */
  font-size: 1em;
  border-radius: 20px;
  /* margin-bottom: 10px; */
  /* padding: 0 20px; */
  /* background: #00000036; */
  color: #fff;
}
.input-search {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  /* height: 42.5px; */
  line-height: 30px;
  outline: 0;
  border: 0;
  /* display: none; */
  font-size: 1em;
  border-radius: 20px;
  padding: 0 16px;
  background: #00000036;
  color: #fff;
  padding-bottom: 5px;
}
.dataResult {
  margin-top: 5px;
  width: 175px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 20px;
  position: absolute;
  z-index: 9999;
}
.dataResult::-webkit-scrollbar {
  display: none;
}
.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}
.dataItem p {
  margin-left: 10px;
}
.dataResult .dataItem {
  text-decoration: none;
}
.dataResult .dataItem:hover {
  background-color: lightgrey;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.searchInputs:hover,
.searchInputs:valid {
  width: 350px;
  cursor: pointer;
}

.searchInputs:hover .search,
searchInputs .searchInputs:valid .search,
searchInputs {
  display: block;
}

.searchInputs:hover .fa,
.searchInputs:valid .fa {
  background: black;
  color: #fff;
}

.searchInputs:valid a {
  display: block;
}
.input-search:hover,
.input-search:valid {
  /* width: 250px; */
  cursor: pointer;
}

.input-search:hover .search,
searchInputs .input-search:valid .search,
searchInputs {
  display: block;
}

/* .input-search:hover .fa,
.input-search:valid .fa {
  background: #fff;
  color: black;
} */
